.DS_Store
**/.DS_Store

# CMake
build/

# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Editors
.idea/
.vscode/

*.pdf
**.pdf

# File prodotti dagli experiments
edge/experiment_results/

# Immagini generate
*.png
